@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.flexy {display: flex; flex-direction: column; gap: 7em;}

a {text-decoration: none; color: grey;}

ul {list-style-type: none;}

.header {display: flex; justify-content: space-between; margin-right: 20px; margin-left: -5px;
padding: 10px;}

.content {display: flex; flex-direction: column; justify-content: center; align-items: center;
gap: 10px;}

.footer {display: flex; justify-content: space-between; margin-right: 20px; margin-left: -5px;
padding: 1px; background-color: #eeeeee;}

.left-links {display: flex; gap: 15px;}

.right-links {display: flex; gap: 15px;}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
