body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 16px;
}

.content {
  background: #e3f4ff;
  padding: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  font-size: 16px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 20px;
  margin: 5px;
  font-size: 16px;
}

.button {display: block; text-align: center;}